<%= form_for @bid do |f|  %>
  <% if @bid.errors.any? %>
    <div id='error_explanation'>
      <% @bid.errors.full_messages.each do |msg|%>
        <ul><%= msg %></ul>
      <% end %>
    </div>
  <% end %>

  <p>Bid: <%= f.text_field :place_bid %></p>
  <%= f.submit "Place Bid", class: 'btn btn-large btn-primary' %>
<% end %>
