<%= form_for @bid do |f|  %>
  <% if @bid.errors.any? %>
    <div id='error_explanation'>
      <ul>
      <h2><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</h2>
      </ul>
    </div>
  <% end %>

  <p>Bid: <%= f.text_field :place_bid %></p>
  <%= f.submit "Place Bid", class: 'btn btn-large btn-primary' %>
<% end %>
