<h1 class="center">My Items for Sale</h1>
<% @items.each do |item| %>
  <p><%= image_tag item.picture.to_s %></p>
  <p>Name: <%= item.name %></p>
  <p>Starting Bid: <%= number_to_currency(item.start_bid) %></p>
<% end %>
